<div class="w-100 p-3 header-info">
    <div class="container">
        <div class="row">
            <div class="col header-info-text">
                <div>Me chamo:<p>Paul Irish</p></div>
                CPF: <span>012.345.678-99</span>
            </div>
            <div class="col header-info-text">
                <div>Preciso de:<p>R$ 2.000,00</p></div>
            </div>
            <div class="col header-info-text">
                <div>Quero pagar em:<p>12 vezes</p></div>
            </div>
            <div class="col header-info-text">
                <div>Para:<p>Comprar uma bike</p></div>
            </div>
        </div>
    </div>
</div>