<div class="geru-breadcrumb text-center">
  <div class="row">
    <div class="container">
      <div class="geru-breadcrumb-item">
        <div class="geru-breadcrumb-number">1</div>
        <span class="geru-breadcrumb-text">Simule</span>
      </div>
      <div class="geru-breadcrumb-item">
        <div class="geru-breadcrumb-number-selected">2</div>
        <span class="geru-breadcrumb-text-selected">Preencha o Cadastro</span>
      </div>
      <div class="geru-breadcrumb-item">
        <div class="geru-breadcrumb-number">3</div>
        <span class="geru-breadcrumb-text">Revise seu Pedido</span>
      </div>
      <div class="geru-breadcrumb-item">
        <div class="geru-breadcrumb-number">4</div>
        <span class="geru-breadcrumb-text">Finalize o Pedido</span>
      </div>
    </div>
  </div>
</div>
