<ul class="nav geru-breadcrumb justify-content-center">
  <li class="nav-item geru-breadcrumb-item">
    <div class="geru-breadcrumb-number">1</div>
    <span class="geru-breadcrumb-text">Simule</span>
  </li>
  <li class="nav-item geru-breadcrumb-item">
    <div class="geru-breadcrumb-number-selected">2</div>
    <span class="geru-breadcrumb-text-selected">Preencha o Cadastro</span>
  </li>
  <li class="nav-item geru-breadcrumb-item">
    <div class="geru-breadcrumb-number">3</div>
    <span class="geru-breadcrumb-text">Revise seu Pedido</span>
  </li>
  <li class="nav-item geru-breadcrumb-item">
    <div class="geru-breadcrumb-number">4</div>
    <span class="geru-breadcrumb-text">Finalize o Pedido</span>
  </li>
</ul>
  